.botao-div{
    width: 100%;
    height: 100%;
    box-shadow: -2px -2px 10px #FFFFFF, 5px 5px 10px rgba(55, 84, 170, 0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.botao-button{
    font-family: 'Orbitron', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    text-align: center;
}

.BotaoTema-Dark{
    background: #141518;
    color: #fff;
    box-shadow: 5px 5px 10px #000000, -5px -5px 10px rgba(20, 21, 24, 0.4);
}

.BotaoTema-Dark button{
    background: #141518;
    color: #fff;
    box-shadow: 5px 5px 10px #000000, -5px -5px 10px rgba(20, 21, 24, 0.4);
}