.display-div{
    width: 100%;
    height: 100px;
    margin-top: 40px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-span{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 90%;
    height: 70%;
    text-align: center;
    font-size: 3rem;
    padding: 5px;
    overflow: auto;
    box-sizing: border-box;
    border: 2px solid #7F00FF;
    border-radius: 10px;
    font-family: "DS-DIGI";
}

.DisplayTema-Dark{
    background: #141518;
    color: #fff;
    box-shadow: 5px 5px 10px #000000, -5px -5px 10px rgba(20, 21, 24, 0.4);
}

